# Server Configuration
PORT=3000

# Database Connection
# Replace with your actual database protocol, user, password, host, port, and database name
DATABASE_URL="postgresql://username:password@localhost:5432/mini_tender_db?schema=public"

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here
